.ur_form_div{
    background-color: #171717;
    padding: 20px;
    display: flex;
}
.ur_form_div form {
    width: 50%;
    margin: 0 auto;
    padding: 0px 50px;
}
.ur_form_div .ur_result{
    display: none;
    width: 50%;
    padding: 30px 50px;
    border-left: 1px solid #ccc;
}

.ur_form_div .ur_result p, .ur_form_div .ur_result h3 {
    padding: 0px;
    margin: 0px;

}
.ur_form_div .ur_result p{
    font-size: 0.9rem;
    color: #fff;
}
.ur_form_div .ur_result h3{
    color: goldenrod;
    margin-bottom: 20px;
    font-size: 2rem;
}



.ur_form_div form .field{
    margin: 30px 0px;
}


.ur_form_div form label{

    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.5;
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;

}
.ur_label{
    margin-bottom: 20px !important;
}
.ur_chkbox_group{
    display: flex;
}

.ur_chkbox_group .r_o_i_box{
    background-color: #222;
    border: 1px solid #222;
    text-align: center;
    /* padding: 5px 28px; */
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px !important;
}
.ur_chkbox_group .r_o_i_box label{
    cursor: pointer;
}
.ur_chkbox_group .r_o_i_box:hover{
    border: 1px solid goldenrod;
    background: rgba(185,152,85,.15);
}
.r_o_i_box.active{
    border: 1px solid goldenrod;
    background: rgba(185,152,85,.15);
}

.r_o_i_box.ur_disabled{
    border: 1px solid #222;
    opacity: 0.4;
    cursor: not-allowed;
}

.ur_chkbox_group .r_o_i_box.ur_disabled:hover{
    background-color: #333;
    border: 1px solid #333;
    cursor: not-allowed;
}
.ur_chkbox_group .r_o_i_box.ur_disabled label{
    cursor: not-allowed;
}
#ur_pb_form input[type=submit]{
    font-family: poppins;
    background: goldenrod;
    border: 2px solid goldenrod;
    padding: 5px 15px;
    cursor: pointer;
}
#ur_pb_form input[type=submit]:hover{
    background: transparent;
    color: #fff;
}
#ur_pb_form .ur_btn{
    text-align: center;
    margin: 30px 0px;
}


/* Contact Form */
.ur_overlay_bg{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    color: #fff;
    z-index: 9999999;
    margin-left: -120px;
    padding: 50px 120px;
}
.ur_overlay_bg .ur_overlay{
    width: 60%;
    margin: 0 auto;
    background-color: #222;
    padding: 20px 30px;
}
.ur_modal_head{
    display: flex;
    justify-content: space-between;
}
.ur_modal_close img{
    width: 20px;
    height: auto;
    cursor: pointer;
}
.ur_disclaimer{
    font-size: 0.8rem;
    line-height: 1.1rem;
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 15px;
}
#ur_contact_form label{
    margin: 0;
}
#ur_contact_form input {
    margin: 0;
    padding: 5px 10px;
    background-color: #333;
    margin-bottom: 10px;
}

#ur_contact_form_btn{
    border: 1px solid goldenrod;
    background-color: transparent;
    color: goldenrod;
    padding: 3px 15px;
    font-family: poppins;
    margin-top: 10px;
    cursor: pointer;
}

/* ------------------------- */
/* Progress Bar */
/* ------------------------- */

#progressbar{
    position: absolute;
    left: 50px;
    bottom: 50px;
}
#progressbar .ur_step_count{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
#progressbar .ur_bar span{
    width: 24px;
    height: 3px;
    background: rgba(255,255,255,0.5);
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-right: 3px;
}
#progressbar .ur_bar span.ur_completed{
    background-color: #b99855;
}

/* -------------------------------- */
/* Diversification Calculator */
/* -------------------------------- */


#ur_dc{
    background-color: #171717;
    display: flex;
    position: relative;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}
.ur_wizard .steps, .ur_wizard .content{
    width:40%;
    padding: 20px;
} 
.ur_wizard .content{
    width:60%;
    padding: 20px;
}
.ur_wizard .steps ul li,  .ur_wizard .steps ul li a span{
    display: none;
}
.ur_wizard .steps ul li.current{
    display: block;
}
.ur_wizard .steps{
    padding-top: 90px;
}

.ur_wizard .content h3.title{
    display: none;
}

.ur_wizard .actions{
    position: absolute;
    left: 50px;
    top: 80px;
}

.ur_wizard .actions ul li{
    display: none !important;
} 
.ur_wizard .actions ul li:first-of-type{
    display: block !important;
}

.ur_wizard .actions ul li.disabled{
    display: none !important;
}
#ur_cs_prev i{
    font-size: 12px;
    color: #b99855;
}
#ur_cs_prev:hover #ur_cs_prev i{
    color: #fff !important;
}
#ur_cs_prev:hover {
    color: #b99855;
}


.q_group .q_box{
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: #222;
    border: 1px solid #222;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 50%);
    border-radius: 6px;
    margin: 15px;
    cursor: pointer;
    height: 100px;
}
.q_group .q_box.selected{
    border: 1px solid #b99855;
    background: rgba(185,152,85,0.15);
}
.q_group .q_box:hover{
    border: 1px solid #b99855;
}
.q_group .q_box label{
    cursor: pointer;
}
.q_group .q_box img{
    width: 40px;
    height: auto;
}
.q_group .q_box label{
    padding: 0px 10px;
    font-weight: 700;
    letter-spacing: 1px;
    /* font-family: Poppins; */
}

#ur_dc_show_result{
    background-color: #171717;
    position: relative;
    padding: 40px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}
#ur_dc_show_result p{
    color: #fff;
}
#ur_dc_show_result .ur_dc_score{    
    color: #b99855;
}
#ur_dc_show_result .dc_diversed_emojis{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

#ur_dc_show_result .dc_diversed_emojis>div{
    display: flex;
}
#ur_dc_show_result .dc_diversed_emojis p{
    margin-left: 10px;
}
.ur-progress-status-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg,#c63d3d,#b5e361);
    margin: 20px 0px;
}
.ur-progress-status-bar .ur_status{
    width: 6px;
    height: 23px;
    position: absolute;
    top: -6px;
    background: #fff;
    z-index: 2;
    left: 50%;
}
#ur_dc_show_result .dc_recal_btn a, .cta_btn a{
    border: 1px solid rgba(185,152,85,1.0);
    border-radius: 0px;
    color: rgba(185,152,85,1.0);
    padding: 10px 24px;
    transition: all .3s;
    width: 199px;
    max-width: 100%;
}
#ur_dc_show_result .dc_recal_btn a:hover, .cta_btn a:hover{
    color: #fff;
    background-color:rgba(185,152,85,1.0) ;
}
.ur_dc_cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ur_dc_show_result .ur_dc_cta .ur_dc_cta_content p{
    margin: 0;
    text-align: left;
}

#ur_rf{
    background-color: #171717;
    display: flex;
    position: relative;
    padding: 30px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

#ur_df_show_result{
    background-color: #171717;
    position: relative;
    padding: 40px 0px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}
.df_res_wrapper{
    display: flex;
}
#ur_df_show_result p{
    color: #fff;
}
.df_res_wrapper>div{
    padding: 0px 50px;
    width: 50%;
    text-align: left;
}

#ur_df_show_result .ur_responsive_level{
    border-left:1px solid #aaa;
}
#ur_df_show_result .df_res_wrapper h3{
    color: #b99855;
    margin-bottom: 5px;
}
#ur_df_show_result .df_res_wrapper h6{
    font-size: 16px;
}
#ur_df_show_result .df_res_wrapper p{
    margin-bottom: 10px;
    line-height: 1.5rem;
}
#ur_df_show_result .rp_res_text, #ur_df_show_result .rp_text {
    color:#c7c7c7;
}
.rf_btn_div{
    margin-top: 30px;
}
.rf_btn_div .rf_btn{
    border: 1px solid rgba(185,152,85,1.0);
    border-radius: 0px;
    color: rgba(185,152,85,1.0);
    padding: 10px 24px;
    transition: all .3s;
    width: 199px;
    max-width: 100%;
}
.rf_btn_div .rf_btn:hover{
    color: #fff;
    background-color:rgba(185,152,85,1.0) ;
}
/* -------------------------------------------- */
/* ------- Media Queries ---------------------- */
/* -------------------------------------------- */

@media screen and (min-width:1920px){
    .ur_overlay_bg{
        width: 103%;
        margin-left: -23%;
    }
}
@media screen and (max-width:1920px){
    .ur_overlay_bg{
        width: 103%;
        margin-left: -21%;
    }
}
@media screen and (max-width:1920px){
    .ur_overlay_bg{
        width: 103%;
        margin-left: -21%;
    }
}
@media screen and (max-width:1695px){
    .ur_overlay_bg{
        margin-left: -16%;
    }
}
@media screen and (max-width:1490px){
    .ur_overlay_bg{
        margin-left: -12%;
    }
}
@media screen and (max-width:1340px){
    .ur_overlay_bg{
        margin-left: -7%;
    }
}
@media screen and (max-width:1220px){
    .ur_overlay_bg{
        margin-left: -8%;
    }
}
@media screen and (max-width:1190px){
    .ur_overlay_bg{
        margin-left: -12%;
    }
}
@media screen and (max-width:1093px){
    .ur_overlay_bg{
        margin-left: -7%;
    }
    .ur_form_div{
        flex-direction: column;
    }
    .ur_form_div .ur_result{
        width: 100%;
        border-top: 1px solid #ccc;
        border-left:0px;
        padding: 30px;
    }
}
@media screen and (max-width:994px){
    .ur_overlay_bg{
        margin-left: -14%;
    }
    #ur_dc{
        flex-direction: column;
    }
    #ur_dc .steps, #ur_dc .content{
        width: 100%;
    }
    #ur_dc .q_group .q_box{
        margin: 0px;
        margin-bottom:20px;
    }

    #ur_dc .content{
        padding-bottom: 100px;
    }

    .ur_dc_cta{
        flex-direction: column;
        text-align: center;
    }
    .ur_dc_cta .ur_dc_cta_content{
        margin-bottom: 30px;
    }

    #ur_dc_show_result .ur_dc_cta .ur_dc_cta_content p{
        text-align: center;
    }
}
@media screen and (max-width:976px){
    .ur_overlay_bg{
        margin-left: -11%;
    }
    .df_res_wrapper{
        flex-direction: column;
    }
    .df_res_wrapper>div{
        width: 100%;
        border: 0px;
        margin-bottom: 30px;
    }
    #ur_df_show_result .ur_responsive_level{
        border-left:0px;
    }
}
@media screen and (max-width:770px){
    .ur_overlay_bg{
        margin-left: -16%;
    }
}

@media screen and (max-width:768px){
    .ur_form_div form{
        width:100%;
        padding:0px 30px;
    }
    .ur_overlay_bg .ur_overlay{
        width:100%;
    }
    .ur_overlay_bg{
        padding:50px 30px;
    }
    #ur_rf{
        flex-direction: column;
    }
    .ur_wizard .content, .ur_wizard .steps{
        width: 100%;
    }.ur_wizard .content{
        padding: 0px;
        padding-bottom: 100px;
    }
}
@media screen and (max-width:663px){
    .ur_overlay_bg{
        margin-left: -15%;
    }
}
@media screen and (max-width:620px){
    .ur_overlay_bg{
        margin-left: -6%;
    }
}